{% extends 'Base/Base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>SinarPerak - Homepage</title>
    {% endblock %}
</head>

{% block content %}
    <body>
    <div>
        <img src="https://cdn.christianaidministries.org/wp-content/uploads/2016/01/21_30_23_305_ap185641221814.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>

    <div class="container-fluid text-center" style="background-color: #000000;">
        <h1 style="font-family: Quintessential; color: gold; font-weight: bold; text-decoration: underline;">Trending News Today</h1><br>
        <div class="row">
            <div class="col-sm-3">
                <a href={% url 'program-1' %}>
                    <h3 style="color: goldenrod;">Bencana Palu</h3>
                    <img src="{% static 'image/palu.jpg' %}" class="img-responsive" style="width:100%" alt="Image">
                </a>
            </div>
            <div class="col-sm-3"><br><br>
                <p style="text-align: justify; color: whitesmoke;">Sejak gempa dan tsunami melanda Palu dan daerah sekitarnya di
                    Sulawesi Tengah pada 28 September lalu, lebih dari 2.000 jenazah
                    telah ditemukan. Namun, jumlah pasti korban meninggal dunia amat
                    mungkin tidak akan diketahui mengingat sejumlah daerah permukiman
                    tersapu tsunami dan likuifaksi sehingga mengubur banyak orang.
                </p>
            </div>
            <div class="col-sm-3">
                <a href={% url 'program-3' %}>
                    <h3 style="color: goldenrod;">Bencana Donggala</h3>
                    <img src="{% static 'image/donggala.jpg' %}" class="img-responsive" style="width:100%" alt="Image">
                </a>
            </div>
            <div class="col-sm-3"><br><br>
                <p style="text-align: justify; color: whitesmoke;">Gempa dan tsunami di pesisir Donggala
               mengakibatkan akses jalan darat terputus.
                Desa Walandano adalah tempat terdekat dari
                episentrum gempa yang berkekuatan 7,4 skala
                 Richter pada jumat lalu (28/9).
                 Juru bicara Badan Nasional Penanggulangan Bencana (BNPB),
                 Sutopo Purwo Nugroho, dalam jumpa pers menyebut, para jumlah korban meninggal
                  144 di Donggala</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href={% url 'program-2' %}>
                    <h3 style="color: goldenrod;">Bencana Lombok</h3>
                    <img src="{% static 'image/lombok.jpg' %}" class="img-responsive" style="width:100%" alt="Image">
                </a>
            </div>
            <div class="col-sm-3"><br><br>
                <p style="text-align: justify; color: whitesmoke;">Satu gempa berkuatan tujuh pada skala Richter (SR)
                    mengguncang Lombok Minggu (19/08) setelah sebelumnya
                    dua gempa berkekuatan 6,5 dan 5,4 SR, melanda wilayah
                    yang masih berupaya menanggulangi akibat gempa pada
                    akhir Juli dan awal Agustus lalu.
                    Korban meninggal akibat rentetan gempa lebih
                    dari 460 orang sejauh ini dan lebih dari 350.000 orang mengungsi.</p>
            </div>
            <div class="col-sm-3">
                <a href={% url 'program-4' %}>
                    <h3 style="color: goldenrod;">Sulawesi Utara</h3>
                    <img src="{% static 'image/sulawesi.jpg' %}" class="img-responsive" style="width:100%" alt="Image">
                </a>
            </div>
            <div class="col-sm-3"><br><br>
                <p style="text-align: justify; color: whitesmoke;">Siau – Musibah melanda kabupaten Sitaro,
                    Sabtu (25/01/2014). Sekitar pukul 10.00 WITA,
                    angin puting beliung membentur daerah pegunungan
                    di wilayah kampung Karalung, kecamatan Siau timur.
                    Benturan tersebut mengakibatkan banjir bandang.
                    Aliran air melewati kali yang sebelumnya pernah
                    dialiri oleh bencana serupa pada 4 tahun silam.
                    Beruntung sejauh ini tidak ada informasi adanya
                    korban jiwa maupun kerusakan rumah warga.</p>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
</html>
