body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus{
    width: 100%;
    padding: 15px;
    margin: 0px 0 0px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

/* Add padding to container elements */
.container {
    padding: 3px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.topnav-right {
  float: right;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

#navbar-header{
    background-color:transparent;
    font-size: 150%;
}

.nav-item{
    margin: 8px;
    font-family: "Quintessential";
    font-weight: bold;
    font-size: 18px;
}

/*form{*/
    /*font-family: Papyrus;*/
    /*width: 100px;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*position: relative;*/
    /*transform: translate(-50%, 0%);*/
    /*border-radius: 0;*/
    /*box-shadow: 5px 5px 5px 5px;*/
    /*padding: 20px;*/
    /*background: #FFFFFF;*/
/*}*/

.form-block {
    margin: auto;
    font-family: "Quicksand";
    background: azure;
    font-size: 100%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    width: 100%;
    border-radius: 5%;
    border-style: ridge;
    font-weight: bold;
    position: relative;
    text-align: justify;
}