{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
            <title>SinarPerak</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="landing page">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Kosugi+Maru|PT+Sans+Narrow|Poor+Story|Quicksand|Quintessential|Rancho|Ribeye+Marrow|Roboto+Mono" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href={% static 'css/Styling.css' %}>
        <link rel="stylesheet" type="text/css" href={% static 'css/RegisterStyling.css' %}>

        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% endblock %}
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse navbar-expand-lg">
                <div class="navbar-header">
                    <ul class="navbar-nav navbar-brand navbar-left">
                        <li><a style="font-size: 300%; font-family: 'Rancho'; color: silver" href={% url 'home' %}>SinarPerak</a></li>
                    </ul>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="display-4" style="text-align: center; font-family: Quicksand"><a>Hello, {{ user.username }}!</a></li>
                        {% endif %}
                        <li class="nav-item"><a style="color: gold" href={% url 'home' %}>Beranda</a></li>
                        <li class="nav-item"><a style="color: gold" href={% url 'register' %}>Pendaftaran</a></li>
                        <li class="nav-item"><a style="color: gold" href={% url 'Submission' %}>Donasi</a></li>
                        <li class="nav-item"><a style="color: gold" href={% url 'program-1' %}>Program</a></li>
						<li class="nav-item"><a style="color: gold" href={% url 'history' %}>Riwayat</a></li>
                        <li class="nav-item"><a style="color: gold" href={% url 'about' %}>About</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a style="color: gold" href={% url 'login' %}>Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a style="color: gold" href={% url 'login' %}>Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock content %}
        </content>

    </body>
</html>