{% extends 'Base/Base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>SinarPerak - Register</title>
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{% block content %}
    <body style="background-color: #222222;">
        <div style="margin-top: 50px;">
            <form action={% url 'register' %} method="POST" class="container-fluid col-sm-6" style="font-family: Quicksand; color: whitesmoke; float: none;">
                {% csrf_token %}
                <div>
                    <h1>Register</h1>
                    <p>Please fill in this form to join others as a donor.</p>
                    {{ form.as_p }}
                    <label>
                        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                    </label>
                    <p>By registering as a donor, you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
                    <div class="clearfix">
                        <input type="submit" class="btn btn-success" value="Register">
                    </div>
                </div>
            </form>
        </div>
    </body>
{% endblock %}
</html>