{% extends 'Base/Base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<head>
    {% block title %}
        <title>SinarPerak - Company Profile</title>
    {% endblock %}
    {% block scripts %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href={% static 'css/about.css' %}>
        <script type="text/javascript" src="{% static 'js/about.js' %}"></script>
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="portfolio" style="background-color: #222222">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-family: Quintessential; font-size: 50px; margin-bottom: 50px; margin-top: -20px; text-align: center; color: whitesmoke">Tentang Kami</h1>
                    <div class="heading">
                        <img src="https://image.ibb.co/cbCMvA/logo.png">
                    </div>
                </div>
            </div>
            <div class="bio-info" style="background-color: #333333">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bio-image">
                                    <img src="https://image.freepik.com/free-vector/people-carrying-donation-and-charity-related-icons_53876-59881.jpg" style="width: 90%" alt="image" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bio-content">
                            <h1 style="font-size: 400%; font-family: 'Rancho'; color: silver">SinarPerak</h1>
                            <h3 style="font-family: Quicksand; color: whitesmoke; text-align: justify">SinarPerak adalah sebuah platform berbasis website yang memfasilitasi masyarakat yang ingin membantu sesama dengan mendonasikan sebagian kecil hartanya untuk mereka yang membutuhkan.</h3>
                            <br>
                            <p style="font-family: Quintessential; color: antiquewhite; text-align: justify">Mari daftar sebagai donatur setia! Kami akan selalu ada untuk anda.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="font-family: Rancho; text-align: center;" class="container">Please give us feedback!</h1>
        <div id="result">
            {% for comment in result %}
                <div class="card bg-light mb-3 container">
                    <div class="card-header">{{ comment.date }}</div>
                    <div class="card-body">
                        <h4 class="card-title" style="font-weight: bold">{{ comment.user.username }}</h4>
                        <p class="card-text">{{ comment.testimonial }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <div class="container">
                <form action="/comment/" method="POST" style="font-family: Quicksand" id="testimonial">
                    {% csrf_token %}
                    {{ testi.as_p }}
                <input type="submit" class="btn-primary registerbtn" value="POST" style="font-size: 20px; font-weight: bold">
                </form>
            </div>
            <div class="container">
                <form action={% url 'delete' %}>
                    <button type="submit" class="btn-danger registerbtn" style="font-size: 20px; font-weight: bold; font-family: Quicksand">Delete All</button>
                </form>
            </div>
        {% else %}
            <div>

            </div>
        {% endif %}
    {% endblock %}
</body>
</html>