{% extends 'Base/Base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="background-color: whitesmoke;">
        {% block content %}
            <div class="container" style="font-family: Quicksand;">
                <h1 style="text-align: center;">Total Donasi: {{ jumlah }}</h1>
                <br>
                <table class="table table-striped">
                    <tr>
                        <th style="text-align: center;">Program</th>
                        <th style="text-align: center;">Jumlah</th>
                    </tr>
                {% for each in riwayat %}
                <tr>
                    <td style="text-align: center;">{{ each.program }}</td>
                    <td style="text-align: center;">{{ each.jumlah_donasi }}</td>
                </tr>
                {% endfor %}
                </table>
            </div>
    {% endblock %}
</body>
    
</html>