{% extends 'Base/Base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>SinarPerak - Donasi</title>
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
    {% block content %}
        <body style="background-color: whitesmoke;">
            <div style="margin-top: 50px;">
                <form method="POST" class="container-fluid col-sm-6" style="font-family: Quicksand; color: #222222; float: none;">
                    {% csrf_token %}
                    <div>
                        <h1>Donasi</h1>
                            {{ form.as_p }}
                        <div class="clearfix">
                            <input class="btn btn-success" type="submit" value="Donasi">
                        </div>
                    </div>
                </form>
                            </div>
        </body>
    {% endblock %}
</html>