{% extends 'Base/Base.html' %}
{% load static %}
{% block content %}
<head>
    {% block title %}
        <title>SinarPerak - Program</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-11" style="margin : auto">
                <h1>{% block judul %}{{ judul }}{% endblock %}</h1>
                <br>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding : 0px">
        <img src="{% block source %}{{ link }}{% endblock %}" class="img-responsive" style="border-radius : 15px">
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-11" style="margin : auto">
                <h3>{% block subjudul %}{{ nama }} Pada Tanggal {{ tanggal }}{% endblock %}</h3>
                <h4>{% block duit %}{{ donasi }}{% endblock %}</h4>
                <h5>Kode Program: {{ kode }}</h5>
                <br><br>
                {% if user.is_authenticated %}
                    <a href={% url 'Submission' %} class="btn btn-primary btn-lg role="button" style="background-color : black">Saya ingin donasi</a>
                {% else %}
                    <a onclick="login()" href={% url 'login:login' %} class="btn btn-primary btn-lg role="button" style="background-color : black">Donasi</a>
                    <script>
                        function login(){
                            alert("Please log in with your Google account!");
                        }
                    </script>
                {% endif %}
                <br>
                <hr style="border-width : 5px; border-color : black">
                <br><br>
                <p style="font-size : 17px" align="justify">{% block paragraph %}{{ deskripsi }}{% endblock %}</p>
                <br><br><br>
            </div>
        </div>
    </div>
</body>
{% endblock %}